name: Build native image

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v[0-9]*'


jobs:
  build-native-image:
    runs-on: ubuntu-latest
    steps:
      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Build Docker Native image - Main
        if: github.ref == 'refs/heads/test_springboot-maven-plugin_3.4.9'
        run: >
          mvn --batch-mode spring-boot:build-image -Pnative -DskipTests
